<br>
<br>
<br>
<br>

<div class="container col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-10 offset-sm-1" style="border: 1px solid blue;">
    <div class="col-lg-12  col-md-12 col-sm-12">
        <p class="heading">User Registeration</p>
        <form style="margin:5%;">
            <div class="form-group row text">
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Username</label>
                    <br>
                    <input type="text" placeholder="username">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Email</label>
                    <br>
                    <input type="text" placeholder="email">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Phone</label>
                    <br>
                    <input type="text" placeholder="phone">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Collage</label>
                    <br>
                    <input type="text" placeholder="collage">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Password</label>
                    <br>
                    <input type="text" placeholder="Password">
                </div>
                <br>
                <div class="col-sm-10 offset-sm-1 col-lg-4 offset-lg-1 col-md-10 offset-md-1 divfield">
                    <label style="color: white;">Confirm Password</label>
                    <br>
                    <input type="text" placeholder="Confirm Password">
                </div>
                <br>
                <br>
            </div>
        </form>
    </div>
</div>